flowdef/default/einfach-processors-achref.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1764754408091,
    "description" : "",
    "identifier" : "einfach-processors-achref",
    "lastModifiedTimestamp" : 1764754408091,
    "name" : "einfach-processors-achref",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "21e1b295-c281-3bf8-a0a9-b41cd12b02b9",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "48e78d8a-831a-3c63-9450-41bc73187c8d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Retry" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "121ddb67-29b8-3e8d-aed9-26f66175fdd2",
        "name" : "InvokeHTTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "03b8a898-7565-37a0-b31a-0f610ed9071e",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e40af90d-b39e-3b65-bbf7-0e9cbe975b38",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Response" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "121ddb67-29b8-3e8d-aed9-26f66175fdd2",
        "name" : "InvokeHTTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "11768211-2c8f-390a-8a69-c118f48464f7",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f003acf7-8b97-3de5-94d3-3e73c12dea5f",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "No Retry" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "121ddb67-29b8-3e8d-aed9-26f66175fdd2",
        "name" : "InvokeHTTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "03b8a898-7565-37a0-b31a-0f610ed9071e",
      "position" : {
        "x" : 326.99996382255586,
        "y" : 35.99997999610832
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "11768211-2c8f-390a-8a69-c118f48464f7",
      "position" : {
        "x" : -472.0,
        "y" : 8.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "21e1b295-c281-3bf8-a0a9-b41cd12b02b9",
      "position" : {
        "x" : -56.0,
        "y" : 184.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "einfach-processors-and-connections",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "Failure", "Original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "121ddb67-29b8-3e8d-aed9-26f66175fdd2",
      "maxBackoffPeriod" : "10 mins",
      "name" : "InvokeHTTP",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -232.0,
        "y" : -264.0
      },
      "properties" : {
        "Request Content-Encoding" : "DISABLED",
        "Request Multipart Form-Data Filename Enabled" : "true",
        "Request Chunked Transfer-Encoding Enabled" : "false",
        "HTTP/2 Disabled" : "False",
        "Connection Timeout" : "5 secs",
        "Response Cookie Strategy" : "DISABLED",
        "Socket Read Timeout" : "15 secs",
        "Socket Idle Connections" : "5",
        "Request Body Enabled" : "true",
        "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
        "HTTP URL" : "https://dummyjson.com/users",
        "Socket Idle Timeout" : "5 mins",
        "Response Redirects Enabled" : "True",
        "Socket Write Timeout" : "15 secs",
        "Response FlowFile Naming Strategy" : "RANDOM",
        "Response Cache Enabled" : "false",
        "Request Date Header Enabled" : "True",
        "Request Failure Penalization Enabled" : "false",
        "Response Body Attribute Size" : "256",
        "Response Generation Required" : "false",
        "Response Header Request Attributes Enabled" : "false",
        "HTTP Method" : "GET",
        "Request Content-Type" : "${mime.type}",
        "Request Digest Authentication Enabled" : "false",
        "Response Cache Size" : "10MB",
        "Response Body Ignored" : "false"
      },
      "propertyDescriptors" : {
        "Request Content-Encoding" : {
          "displayName" : "Request Content-Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Encoding",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Request Multipart Form-Data Filename Enabled" : {
          "displayName" : "Request Multipart Form-Data Filename Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Filename Enabled",
          "sensitive" : false
        },
        "Request Chunked Transfer-Encoding Enabled" : {
          "displayName" : "Request Chunked Transfer-Encoding Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Chunked Transfer-Encoding Enabled",
          "sensitive" : false
        },
        "Response Header Request Attributes Prefix" : {
          "displayName" : "Response Header Request Attributes Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Prefix",
          "sensitive" : false
        },
        "HTTP/2 Disabled" : {
          "displayName" : "HTTP/2 Disabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP/2 Disabled",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Response Cookie Strategy" : {
          "displayName" : "Response Cookie Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cookie Strategy",
          "sensitive" : false
        },
        "Request Password" : {
          "displayName" : "Request Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Password",
          "sensitive" : true
        },
        "Socket Read Timeout" : {
          "displayName" : "Socket Read Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Read Timeout",
          "sensitive" : false
        },
        "Socket Idle Connections" : {
          "displayName" : "Socket Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Connections",
          "sensitive" : false
        },
        "Request Body Enabled" : {
          "displayName" : "Request Body Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Body Enabled",
          "sensitive" : false
        },
        "OAuth2 Access Token Refresh Strategy" : {
          "displayName" : "OAuth2 Access Token Refresh Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "OAuth2 Access Token Refresh Strategy",
          "sensitive" : false
        },
        "HTTP URL" : {
          "displayName" : "HTTP URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP URL",
          "sensitive" : false
        },
        "Request OAuth2 Access Token Provider" : {
          "displayName" : "Request OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Request OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "Socket Idle Timeout" : {
          "displayName" : "Socket Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Timeout",
          "sensitive" : false
        },
        "Response Redirects Enabled" : {
          "displayName" : "Response Redirects Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Redirects Enabled",
          "sensitive" : false
        },
        "Socket Write Timeout" : {
          "displayName" : "Socket Write Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Write Timeout",
          "sensitive" : false
        },
        "Request Header Attributes Pattern" : {
          "displayName" : "Request Header Attributes Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Header Attributes Pattern",
          "sensitive" : false
        },
        "Response FlowFile Naming Strategy" : {
          "displayName" : "Response FlowFile Naming Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response FlowFile Naming Strategy",
          "sensitive" : false
        },
        "Response Cache Enabled" : {
          "displayName" : "Response Cache Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Enabled",
          "sensitive" : false
        },
        "Request Date Header Enabled" : {
          "displayName" : "Request Date Header Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Date Header Enabled",
          "sensitive" : false
        },
        "Request Failure Penalization Enabled" : {
          "displayName" : "Request Failure Penalization Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Failure Penalization Enabled",
          "sensitive" : false
        },
        "Response Body Attribute Size" : {
          "displayName" : "Response Body Attribute Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Response Generation Required" : {
          "displayName" : "Response Generation Required",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Generation Required",
          "sensitive" : false
        },
        "Request User-Agent" : {
          "displayName" : "Request User-Agent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request User-Agent",
          "sensitive" : false
        },
        "Response Header Request Attributes Enabled" : {
          "displayName" : "Response Header Request Attributes Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Enabled",
          "sensitive" : false
        },
        "HTTP Method" : {
          "displayName" : "HTTP Method",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Method",
          "sensitive" : false
        },
        "Request Username" : {
          "displayName" : "Request Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Username",
          "sensitive" : false
        },
        "Request Content-Type" : {
          "displayName" : "Request Content-Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Type",
          "sensitive" : false
        },
        "Response Body Attribute Name" : {
          "displayName" : "Response Body Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Name",
          "sensitive" : false
        },
        "Request Digest Authentication Enabled" : {
          "displayName" : "Request Digest Authentication Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Digest Authentication Enabled",
          "sensitive" : false
        },
        "Request Multipart Form-Data Name" : {
          "displayName" : "Request Multipart Form-Data Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Name",
          "sensitive" : false
        },
        "Response Cache Size" : {
          "displayName" : "Response Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Size",
          "sensitive" : false
        },
        "Response Body Ignored" : {
          "displayName" : "Response Body Ignored",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Ignored",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "No Retry", "Response", "Retry" ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "einfach-processors-achref",
    "timestamp" : 1764754408776
  }
}