flowdef/default/jolt-demos.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1764753896671,
    "description" : "",
    "identifier" : "jolt-demos",
    "lastModifiedTimestamp" : 1764753896671,
    "name" : "jolt-demos",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "555cb3e3-00fa-3048-bdaa-6bedfff8ab88",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0e4df692-51f6-3383-a6c4-5e40486022cc",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f4038150-85b8-3614-8187-1a767a33ac9a",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1b3b3c79-c55b-3644-ffff-ffffcb968aa1",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "202a6cdb-7e20-325d-ffff-ffffcb968aa1",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "95dbe5bd-62f3-3266-ffff-ffffcb968aa1",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "aa0a106f-92a2-393e-0000-00000460b796",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3311d522-e860-35cd-0000-00000460b796",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "061d8958-be5a-33f8-0000-00000460b796",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "eaf36f27-f2d8-385b-0000-00001cddee90",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3a9ed676-9b87-33d5-0000-00001cddee90",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "891b4102-2593-3e5e-0000-00001cddee90",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2fd406d5-7aa0-3dbf-0000-00000460b796",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "43f677eb-46ac-3a16-0000-00000460b796",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "aa0a106f-92a2-393e-0000-00000460b796",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "97c998a8-a906-3a90-ffff-ffff92afb942",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "529683a0-650e-3814-ffff-ffff92afb942",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4aadfa79-e4cd-38fb-ffff-ffff92afb942",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e8840834-d839-3887-ffff-ffffcefb6a08",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7dc45b7f-aec7-3413-ffff-ffffcefb6a08",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "0cf1b311-9c13-389a-ffff-ffffcefb6a08",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "302a6003-8e68-32bb-ffff-fffff211137e",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9be5ac2a-2713-309e-ffff-fffff211137e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3958f7ec-3af6-3b6d-ffff-fffff211137e",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4aadfa79-e4cd-38fb-ffff-ffff92afb942",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bc04a7e3-ba9a-37d2-ffff-ffff92afb942",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2440104a-4552-3990-ffff-ffff92afb942",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3958f7ec-3af6-3b6d-ffff-fffff211137e",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c45cb096-e257-38c6-ffff-fffff211137e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "72524df5-5faf-3b6d-ffff-fffff211137e",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "0cf1b311-9c13-389a-ffff-ffffcefb6a08",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d2927784-7423-354e-ffff-ffffcefb6a08",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "6533941f-d0ad-3168-ffff-ffffcefb6a08",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "95dbe5bd-62f3-3266-ffff-ffffcb968aa1",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "da2fe9eb-8e8d-3012-ffff-ffffcb968aa1",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "141ed792-d14d-3c27-ffff-ffffcb968aa1",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f4038150-85b8-3614-8187-1a767a33ac9a",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f5764e6a-e045-3953-bd1f-70d285394406",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f24a259b-207c-3645-97fd-d72813323a4c",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4d4833d0-1732-3bd3-0000-00001cddee90",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f7ce99f2-9b22-33ac-0000-00001cddee90",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "eaf36f27-f2d8-385b-0000-00001cddee90",
        "name" : "JoltTransformJSON",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1b3b3c79-c55b-3644-ffff-ffffcb968aa1",
      "position" : {
        "x" : 1032.0,
        "y" : 368.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2fd406d5-7aa0-3dbf-0000-00000460b796",
      "position" : {
        "x" : 2512.0,
        "y" : 352.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "302a6003-8e68-32bb-ffff-fffff211137e",
      "position" : {
        "x" : 7848.0,
        "y" : 240.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4d4833d0-1732-3bd3-0000-00001cddee90",
      "position" : {
        "x" : 9344.0,
        "y" : 248.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "555cb3e3-00fa-3048-bdaa-6bedfff8ab88",
      "position" : {
        "x" : -160.0,
        "y" : 376.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "97c998a8-a906-3a90-ffff-ffff92afb942",
      "position" : {
        "x" : 4400.0,
        "y" : 296.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e8840834-d839-3887-ffff-ffffcefb6a08",
      "position" : {
        "x" : 6232.0,
        "y" : 264.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 150.0,
      "identifier" : "0f114afb-a967-3d9d-0000-00000460b796",
      "label" : "{\n  \"items\": [\n    {\"id\": 1},\n    {\"id\": 2},\n    {\"id\": 3}\n  ]\n}\n",
      "position" : {
        "x" : 2104.0,
        "y" : -264.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 150.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 80.0,
      "identifier" : "14869866-286a-3ad5-ad95-89be044813b2",
      "label" : "Felder umbenennen,\nJSON umstrukturieren",
      "position" : {
        "x" : -216.0,
        "y" : -328.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 160.0,
      "zIndex" : 1
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 150.0,
      "identifier" : "3decf8d1-145b-353e-ffff-ffff92afb942",
      "label" : "{\n  \"name\": \"Tom\"\n}\n",
      "position" : {
        "x" : 3992.0,
        "y" : -320.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 150.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 80.0,
      "identifier" : "426abd40-e3cb-32d7-ffff-fffff211137e",
      "label" : "Mischung aus Werten und Strukturen",
      "position" : {
        "x" : 7792.0,
        "y" : -464.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 160.0,
      "zIndex" : 1
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 150.0,
      "identifier" : "4bdc1db2-1378-310f-ffff-ffff92afb942",
      "label" : "{\n  \"name\": \"Tom\",\n  \"status\": \"active\"\n}\n",
      "position" : {
        "x" : 3992.0,
        "y" : -48.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 150.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 150.0,
      "identifier" : "5c054606-53b8-34cc-9327-243b96622399",
      "label" : "Input:\n{\n  \"name\": \"Lisa\",\n  \"age\": 25\n}\n",
      "position" : {
        "x" : -568.0,
        "y" : -240.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 150.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 160.0,
      "identifier" : "60aa18b0-a28f-3163-0000-00001cddee90",
      "label" : "{\n  \"skus\": [\"A1\", \"B2\"],\n  \"prices\": [10, 20]\n}\n",
      "position" : {
        "x" : 8904.0,
        "y" : -96.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 224.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 150.0,
      "identifier" : "62833014-4554-3345-0000-00000460b796",
      "label" : "{\n  \"ids\": [1, 2, 3]\n}\n",
      "position" : {
        "x" : 2104.0,
        "y" : 8.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 150.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 150.0,
      "identifier" : "67212613-9b16-31b3-ffff-ffffcefb6a08",
      "label" : "{\n  \"name\": \"Tom\"\n}\n",
      "position" : {
        "x" : 5824.0,
        "y" : -352.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 150.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 160.0,
      "identifier" : "67bfe794-d417-33f5-ffff-fffff211137e",
      "label" : "{\n  \"orderId\": 999,\n  \"details\": {\n    \"amount\": 55\n  }\n}",
      "position" : {
        "x" : 7408.0,
        "y" : -104.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 224.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 150.0,
      "identifier" : "749f6070-dfc7-355d-ffff-ffffcb968aa1",
      "label" : "{\n  \"a\": 10,\n  \"b\": 20,\n  \"c\": 30\n}\n",
      "position" : {
        "x" : 624.0,
        "y" : -248.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 150.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 150.0,
      "identifier" : "75ce5f8c-05a4-37b7-0000-000076a01dbe",
      "label" : "Soll-Output: \n{\n  \"person\": {\n    \"fullName\": \"Lisa\",\n    \"years\": 25\n  }\n}",
      "position" : {
        "x" : -568.0,
        "y" : 32.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 150.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 128.0,
      "identifier" : "773abb73-4aa5-3b9b-0000-00001cddee90",
      "label" : "{\n  \"products\": [\n    {\"sku\": \"A1\", \"price\": 10},\n    {\"sku\": \"B2\", \"price\": 20}\n  ]\n}\n",
      "position" : {
        "x" : 8904.0,
        "y" : -360.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 256.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 80.0,
      "identifier" : "7a250da3-8aaa-309d-ffff-ffffcefb6a08",
      "label" : "Default-Werte hinzufügen\nmit NiFi Expression Language",
      "position" : {
        "x" : 6176.0,
        "y" : -440.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 160.0,
      "zIndex" : 1
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 128.0,
      "identifier" : "7ed75468-0fdb-3378-ffff-fffff211137e",
      "label" : "{\n  \"order\": {\n    \"id\": 999,\n    \"amount\": 55\n  }\n}\n",
      "position" : {
        "x" : 7408.0,
        "y" : -368.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 256.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 150.0,
      "identifier" : "838b7c00-694f-3433-ffff-ffffcb968aa1",
      "label" : "{\n  \"values\": {\n    \"a\": 10,\n    \"b\": 20,\n    \"c\": 30\n  }\n}\n",
      "position" : {
        "x" : 624.0,
        "y" : 24.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 150.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 160.0,
      "identifier" : "872bf4aa-4ae4-37f3-ffff-ffffcefb6a08",
      "label" : "{\n  \"name\": \"Tom\",\n  \"status\": \"active\"\n  \"timestamp\":\"2025-12-03 9:00:00\"\n}\n",
      "position" : {
        "x" : 5792.0,
        "y" : -80.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 224.0,
      "zIndex" : 2
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 80.0,
      "identifier" : "e6af0711-988b-33d5-ffff-ffff92afb942",
      "label" : "Default-Werte hinzufügen",
      "position" : {
        "x" : 4344.0,
        "y" : -408.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 160.0,
      "zIndex" : 1
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 80.0,
      "identifier" : "f54e4055-1565-3a50-0000-00000460b796",
      "label" : "Array flachziehen",
      "position" : {
        "x" : 2456.0,
        "y" : -352.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 160.0,
      "zIndex" : 1
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 80.0,
      "identifier" : "f682a1e8-6d0d-346c-0000-00001cddee90",
      "label" : "Paralleles Array-Mapping",
      "position" : {
        "x" : 9288.0,
        "y" : -456.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 160.0,
      "zIndex" : 1
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "flow-contents-group",
      "height" : 80.0,
      "identifier" : "fc3d14e3-cbcb-30a9-ffff-ffffcb968aa1",
      "label" : "Alle Felder in neue Struktur kopieren",
      "position" : {
        "x" : 976.0,
        "y" : -336.0
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 160.0,
      "zIndex" : 1
    } ],
    "maxConcurrentTasks" : 1,
    "name" : "JOLT-Demos",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "061d8958-be5a-33f8-0000-00000460b796",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 2360.0,
        "y" : -248.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "generate-ff-custom-text" : "{\n  \"items\": [\n    {\"id\": 1},\n    {\"id\": 2},\n    {\"id\": 3}\n  ]\n}",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0cf1b311-9c13-389a-ffff-ffffcefb6a08",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoltTransformJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6080.0,
        "y" : -72.0
      },
      "properties" : {
        "JSON Source" : "FLOW_FILE",
        "Jolt Transform" : "jolt-transform-chain",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"name\": \"name\"\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n      \"status\": \"${status}\",\n      \"timestamp\": \"${now():format('yyyy-MM-dd HH:mm:ss')}\"\n    }\n  }\n]"
      },
      "propertyDescriptors" : {
        "JSON Source" : {
          "displayName" : "JSON Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source",
          "sensitive" : false
        },
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "JSON Source Attribute" : {
          "displayName" : "JSON Source Attribute",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source Attribute",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "141ed792-d14d-3c27-ffff-ffffcb968aa1",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 880.0,
        "y" : -232.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "generate-ff-custom-text" : "{\n  \"a\": 10,\n  \"b\": 20,\n  \"c\": 30\n}",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2440104a-4552-3990-ffff-ffff92afb942",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 4248.0,
        "y" : -304.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "generate-ff-custom-text" : "{\n  \"name\": \"Tom\"\n}",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3958f7ec-3af6-3b6d-ffff-fffff211137e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoltTransformJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7696.0,
        "y" : -96.0
      },
      "properties" : {
        "JSON Source" : "FLOW_FILE",
        "Jolt Transform" : "jolt-transform-chain",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"order\": {\n        \"id\": \"orderId\",\n        \"amount\": \"details.amount\"\n      }\n    }\n  }\n]\n"
      },
      "propertyDescriptors" : {
        "JSON Source" : {
          "displayName" : "JSON Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source",
          "sensitive" : false
        },
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "JSON Source Attribute" : {
          "displayName" : "JSON Source Attribute",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source Attribute",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4aadfa79-e4cd-38fb-ffff-ffff92afb942",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoltTransformJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 4248.0,
        "y" : -40.0
      },
      "properties" : {
        "JSON Source" : "FLOW_FILE",
        "Jolt Transform" : "jolt-transform-chain",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"name\": \"name\"\n    }\n  },\n  {\n    \"operation\": \"default\",\n    \"spec\": {\n      \"status\": \"active\"\n    }\n  }\n]\n"
      },
      "propertyDescriptors" : {
        "JSON Source" : {
          "displayName" : "JSON Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source",
          "sensitive" : false
        },
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "JSON Source Attribute" : {
          "displayName" : "JSON Source Attribute",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source Attribute",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6533941f-d0ad-3168-ffff-ffffcefb6a08",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 6080.0,
        "y" : -336.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "generate-ff-custom-text" : "{\n  \"name\": \"Tom\"\n}",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text",
        "status" : "active"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        },
        "status" : {
          "displayName" : "status",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "status",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "72524df5-5faf-3b6d-ffff-fffff211137e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 7696.0,
        "y" : -360.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "generate-ff-custom-text" : "{\n  \"users\": {\n    \"u1\": {\"name\": \"Anna\"},\n    \"u2\": {\"name\": \"Bob\"}\n  }\n}",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "891b4102-2593-3e5e-0000-00001cddee90",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 9192.0,
        "y" : -352.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "generate-ff-custom-text" : "{\n  \"products\": [\n    {\"sku\": \"A1\", \"price\": 10},\n    {\"sku\": \"B2\", \"price\": 20}\n  ]\n}\n",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "95dbe5bd-62f3-3266-ffff-ffffcb968aa1",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoltTransformJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 880.0,
        "y" : 32.0
      },
      "properties" : {
        "JSON Source" : "FLOW_FILE",
        "Jolt Transform" : "jolt-transform-chain",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "[{\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\":\"values.&\"}}]"
      },
      "propertyDescriptors" : {
        "JSON Source" : {
          "displayName" : "JSON Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source",
          "sensitive" : false
        },
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "JSON Source Attribute" : {
          "displayName" : "JSON Source Attribute",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source Attribute",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "aa0a106f-92a2-393e-0000-00000460b796",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoltTransformJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 2360.0,
        "y" : 16.0
      },
      "properties" : {
        "JSON Source" : "FLOW_FILE",
        "Jolt Transform" : "jolt-transform-chain",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"items\": {\n        \"*\": {\n          \"id\": \"ids[]\"\n        }\n      }\n    }\n  }\n]\n"
      },
      "propertyDescriptors" : {
        "JSON Source" : {
          "displayName" : "JSON Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source",
          "sensitive" : false
        },
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "JSON Source Attribute" : {
          "displayName" : "JSON Source Attribute",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source Attribute",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "eaf36f27-f2d8-385b-0000-00001cddee90",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoltTransformJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 9192.0,
        "y" : -88.0
      },
      "properties" : {
        "JSON Source" : "FLOW_FILE",
        "Jolt Transform" : "jolt-transform-chain",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"products\": {\n        \"*\": {\n          \"sku\": \"skus[]\",\n          \"price\": \"prices[]\"\n        }\n      }\n    }\n  }\n]"
      },
      "propertyDescriptors" : {
        "JSON Source" : {
          "displayName" : "JSON Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source",
          "sensitive" : false
        },
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "JSON Source Attribute" : {
          "displayName" : "JSON Source Attribute",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source Attribute",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f24a259b-207c-3645-97fd-d72813323a4c",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -312.0,
        "y" : -224.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "generate-ff-custom-text" : "{\n  \"name\": \"Lisa\",\n  \"age\": 25\n}",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2.6.0-stackable25.11.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f4038150-85b8-3614-8187-1a767a33ac9a",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoltTransformJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -312.0,
        "y" : 40.0
      },
      "properties" : {
        "JSON Source" : "FLOW_FILE",
        "Jolt Transform" : "jolt-transform-chain",
        "Max String Length" : "20 MB",
        "Transform Cache Size" : "1",
        "Pretty Print" : "false",
        "Jolt Specification" : "[{\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"name\": \"person.fullName\",\n      \"age\": \"person.years\"}}]"
      },
      "propertyDescriptors" : {
        "JSON Source" : {
          "displayName" : "JSON Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source",
          "sensitive" : false
        },
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "JSON Source Attribute" : {
          "displayName" : "JSON Source Attribute",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Source Attribute",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformJSON",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "jolt-demos",
    "timestamp" : 1764753897419
  }
}